
.fishContainer
{
    padding: 1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 200px;
    margin-top: 2em;
    margin-bottom: 1em;
}



.fishTitle{
    font-size: 0.7em;
    color: #454E63;
   margin-bottom: -15px;

}

.fishProperties{
    color: #9DA0BF;
    font-weight: bold;
    display: flex;
    height: 40px;
    padding: 0;
    
}

.fishNameHolder{
    width: 8em;
}

