.fishDataContainer
{

    display: flex;
    color: #656676;
    height: 40px;
}

.fishActualName
{
    width: 8em;
}

.fishActualQuantity{
    width: 70px;
    text-align: center;

}


.fishHr{
    opacity: 20%;
    margin-bottom: -2px;
}