.waterChangeContainer
{
    padding: 1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    max-height: 280px;

}

.waterChangeTitle{
    font-size: 0.7em;
    color: #454E63;
}

.waterChangeDate{
    color: #9DA0BF;
    font-weight: bold;
}